MOODLE_DOCKER_WWWROOT=/absolute/path/to/Moodle/on/host
MOODLE_DOCKER_DB=pgsql
COMPOSE_PROJECT_NAME=moodlemaster
MOODLE_DOCKER_WEB_PORT=1234
MOODLE_DOCKER_PG_PORT=5433
MOODLE_DOCKER_DBNAME=moodle
MOODLE_DOCKER_DBUSER=moodle
MOODLE_DOCKER_DBPASS="m@0dl3ing"
MOODLE_DOCKER_BROWSER=firefox
MOODLE_DOCKER_BEHAT_MODE=serial
MOODLE_DOCKER_BEHAT_PARALLEL=4
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
# This file describes the DEFAULT instance (bind IP 127.0.0.1, hostnames
# webserver/keycloak, subnet 172.32.238.0/24). Additional parallel instances
# are scaffolded with bin/moodle-docker-instance and live in instances/<name>/.env;
# they are selected at runtime with MOODLE_DOCKER_INSTANCE=<name>.
# See "Multiple Instances" in the README.
